{% extends "base.html" %} {% block content %}
<style>
  dl {
    background-color: #fdffe2;
  }
  dd.auto {
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }
  img {
    width: 80%;
  }

</style>
<dl>
    <dd lang="ru" class="auto">
        <br/><br/><br/><br/>
        <font size="6"><b>Александровский сад</b></font
        ><br/><br/>
    </dd>
    <p align="center"><img src="/static/img/alex_park_0.png"/><br/></p>
    <dd lang="ru" class="auto" style="text-indent: 50px">
        <font size="4"
        >Город Киров имеет свою богатую историю, начиная от основания в XIV веке и
            продолжая по сей день. Но чем же может похвастаться этот наполненный
            историей городок? Одно из самых красивых мест - это Александровский сад,
            расположившийся на берегу реки Вятки - реки, давшей начало городу. И об
            особенностях этого культурного района и будет идти речь в этой
            статье.</font
        ><br/><br/>
    </dd>
    <dd lang="ru" class="auto">
        <font size="5"><b>Содержание:</b></font>
    </dd>
    <dd lang="ru" class="auto" style="text-indent: 50px">
        <font size="4"><b>1. </b>История появления</font>
    </dd>
    <dd lang="ru" class="auto" style="text-indent: 50px">
        <font size="4"><b>2. </b>Новый век - новые имена</font>
    </dd>
    <dd lang="ru" class="auto" style="text-indent: 50px">
        <font size="4"><b>3. </b>Центральная ротонда</font>
    </dd>
    <dd lang="ru" class="auto" style="text-indent: 50px">
        <font size="4"><b>4. </b>Береговая ротонда</font>
    </dd>
    <dd lang="ru" class="auto" style="text-indent: 50px">
        <font size="4"><b>5. </b>Мост через Раздерихинский овраг</font>
    </dd>
    <dd lang="ru" class="auto" style="text-indent: 50px">
        <font size="4"
        ><b>6. </b>Аллея памяти кировским журналистам-фронтовникам</font
        >
    </dd>
    <dd lang="ru" class="auto" style="text-indent: 50px">
        <font size="4"><b>7. </b>Центральный вход</font>
    </dd>
    <dd lang="ru" class="auto" style="text-indent: 50px">
        <font size="4"><b>8. </b>Сцена</font>
    </dd>
    <dd lang="ru" class="auto" style="text-indent: 50px">
        <font size="4"><b>9. </b>Павильон для мероприятий</font>
    </dd>
    <dd lang="ru" class="auto" style="text-indent: 50px">
        <font size="4"><b>10. </b>Кинотеатр "Прогресс"</font>
    </dd>
    <dd lang="ru" class="auto" style="text-indent: 50px">
        <font size="4"><b>11. </b>Цветник с портретом Сталина</font>
    </dd>
    <dd lang="ru" class="auto" style="text-indent: 50px">
        <font size="4"><b>12. </b>Спортплощадка</font>
    </dd>
    <dd lang="ru" class="auto" style="text-indent: 50px">
        <font size="4"><b>13. </b>Памятник Петру и Февронии</font>
    </dd>
    <dd lang="ru" class="auto" style="text-indent: 50px">
        <font size="4"><b>14. </b>"Поляна сказок"</font><br/><br/><br/>
    </dd>
    <dd lang="ru" class="auto">
        <font size="5"><b>1. История появления</b></font
        ><br/><br/>
    </dd>
    <p align="center"><img src="/static/img/alex_park_1.png"/><br/></p>
    <dd lang="ru" class="auto">
        <p align="center">
            <font size="3"
            ><var
            >План сада в городе Вятке. Губернский землемер М. Ивакин. 1835
                год.</var
            ></font
            >
        </p>
        <br/>
    </dd>
    <dd lang="ru" class="auto" style="text-indent: 50px">
        <font size="4"
        >Во время правления Александра I в городах России началось обустройство
            городских общественных садов. В 1821 году в Вятке быт открыт первый
            публичный сад, получивший название Загородного. Однако он не был удобен
            горожанам, так как до сада было сложно и долго добираться, а из-за ельника
            там почти всегда было сыро и холодно. Но в 1824 году после посе-щения
            Вятки императором Александром I рядом со зданиями присутственных мест было
            решено разбить общественный сад для прогулки и улучшения воздуха. Это
            решение было принято после обращения жителей города к Вятскому губернатору
            Рыхлевскому, только что назначенному на пост. В то время даже в центре
            города можно было увидеть грязь и неопрятность улиц, поэтому решение
            разбить сад в центре города одновременно решало две проблемы:
            облагораживание Вятки и досуг жителей города.</font
        >
    </dd>
    <dd lang="ru" class="auto" style="text-indent: 50px">
        <font size="4"
        >Для начала определили участок земли площадью 10 906 квадратных сажен и
            посадили деревья. Место для разведения сада выбрали очень удачно. Оно
            занимало мыс, образованный берегом реки Вятки и склоном Раздерихинского
            оврага, где в XVII веке здесь находилась северная часть Хлыновского
            посада, а по кромке лога прилегали рубленые прясла крепостных стен. Сама
            территория сада имела значительное архитектурное окружение. Охватив
            полукольцом корпуса губернских присутственных мест, она вплотную подходила
            со стороны набережной к ограде Пятницкого храма и заканчивалась у стен
            Спасо-Преображенского девичьего монастыря.</font
        >
    </dd>
    <dd lang="ru" class="auto" style="text-indent: 50px">
        <font size="4"
        >Официальное открытие сада состоялось 30 августа 1835 года в день
            тезоименитства наследника престола Александра по инициативе вновь
            назначенного губернатора К. Я. Тюфяева. Местным землемером М. Ивакиным
            предварительно был составлен генеральный план, согласно которому
            осуществлялась разбивка аллей, тропинок и газонов сада. Тогда же построили
            две деревянные беседки по чертежам губернского архитектора А. Е. Тимофеева
            и каменный мостик.</font
        >
    </dd>
    <p align="center">
        <br/><br/><img src="/static/img/alex_park_2.png"/><br/>
    </p>
    <dd lang="ru" class="auto">
        <p align="center">
            <font size="3"
            ><var>Каменный мостик к береговой ротонде. Начало XXв.</var></font
            >
        </p>
        <br/>
    </dd>
    <dd lang="ru" class="auto">
        <font size="4"
        >В декабре 1835 года с позволения императора (указ Николая I от 24 декабря
            1835 года) сад получил название «Александровский» в честь наследника
            престола, будущего царя Александра II. Завершающим звеном в ансамбле
            Александровского сада стали чугунная ограда и ворота, построенные в
            1838—1840 годах по проекту выдающегося архитектора и художника А. Л.
            Витберга.</font
        >
    </dd>
    <p align="center">
        <br/><br/><img src="/static/img/alex_park_3.png"/><br/>
    </p>
    <dd lang="ru" class="auto">
        <p align="center">
            <font size="3"
            ><var
            >Александровский сад. Вид с городской площади, Вятка. Начало ХХ
                века.</var
            ></font
            >
        </p>
        <br/>
    </dd>
    <dd lang="ru" class="auto">
        <font size="4"
        >Строительным работам предшествовала нивелировка площади и выравнивание
            трассы перед садом, что и было сделано силами местного гарнизона.</font
        ><br/><br/><br/>
    </dd>
    <dd lang="ru" class="auto">
        <font size="5"><b>2. Новый век - новые имена</b></font
        ><br/><br/>
    </dd>
    <p align="center"><img src="/static/img/alex_park_15.png"/><br/></p>
    <dd lang="ru" class="auto">
        <p align="center">
            <font size="3"
            ><var
            >Центральная аллея сада им. Ст. Халтурина. Фото Н. Шилова. 1953
                год.</var
            ></font
            >
        </p>
        <br/>
    </dd>
    <dd lang="ru" class="auto" style="text-indent: 50px">
        <font size="4"
        >XIX век слабо отпечатался в биографии Александровского сада. В то время
            это было место прогулок и уединения горожан, которые хотели отдохнуть от
            бытовой суеты и насладиться природой. Но вот XX век привнес огромные
            изменения в этот городской «уголок природы».</font
        >
    </dd>
    <dd lang="ru" class="auto" style="text-indent: 50px">
        <font size="4">
            Александровский сад неоднократно менял свое название: в начале 1918-го
            надпись «Александровский сад» исчезнет с фронтона входного портика, а
            жители Вятки станут неофициально именовать парк Народным садом, з атем с
            1919 года - сад «Красная Звезда» (как армейский клуб, который был в здании
            летнего кинотеатра), с 1923 года – парк имени Степана Халтурина. В 1960 г.
            городской сад имени Ст. Халтурина был объединен с Заречным парком и
            получил громкое название «Центральный парк культуры и отдыха имени Степана
            Халтурина». А в 1997 году саду вернули его изначальное имя –
            Александровский, под которым его сейчас все и знают.</font
        >
    </dd>
    <dd lang="ru" class="auto" style="text-indent: 50px">
        <font size="4"
        >Расцвет Халтуринского парка приходится именно на 30-40-е годы 20 века. В
            1934 году было принято решение о реконструкции сада: в нем были посажены
            новые деревья, разбиты цветники, выровнены дорожки.</font
        >
    </dd>
    <dd lang="ru" class="auto" style="text-indent: 50px">
        <font size="4"
        >В мае 1945 года, когда объявили о Победе в Великой Отечественной войне,
            со всего Кирова в парке начали собираться люди: играли на аккордеоне, пели
            частушки, песни, танцевали и радовались как никогда в своей жизни.</font
        >
    </dd>
    <dd lang="ru" class="auto" style="text-indent: 50px">
        <font size="4"
        >В сталинские времена сад был полон лозунгов и плакатов с политической
            информацией. Везде можно было читать газеты со свежими и нужными для людей
            новостями - чтобы люди могли совместить прогулку с чем-то полезным.</font
        >
    </dd>
    <dd lang="ru" class="auto" style="text-indent: 50px">
        <font size="4"
        >Справа от центрального входа в сад, дальше того места, где сейчас
            находится сцена из ракушек, находился шахматный домик. Лежали шахматные
            доски, и любой мог сесть и сыграть партию-другую. Навес защищал игроков от
            дождя, но он был не постоянным, а временным, только летом.</font
        ><br/><br/>
    </dd>
    <p align="center"><img src="/static/img/alex_park_16.png"/><br/></p>
    <dd lang="ru" class="auto">
        <p align="center">
            <font size="3"
            ><var>Шахматный домик в Александровском саду. ХХв.</var></font
            >
        </p>
        <br/>
    </dd>
    <dd lang="ru" class="auto" style="text-indent: 50px">
        <font size="4"
        >Моста через овраг в саду еще не было, и горожане редко ходили вдоль стен
            монастыря в том направлении, где позже появится Вечный огонь.</font
        >
    </dd>
    <dd lang="ru" class="auto" style="text-indent: 50px">
        <font size="4"
        >Любопытен и тот факт, что именно в советское время знаменитую
            витберговскую решетку сада копировали и переносили на другие объекты
            города, даже дворы. Так что прогуляетесь по городу, обратите внимание,
            может быть, где заметите сходство.</font
        >
    </dd>
    <dd lang="ru" class="auto" style="text-indent: 50px">
        <font size="4"
        >В 90-е годы сад пришел в упадок: аттракционы уехали, театры и другие
            культурные заведения закрылись, а места для отдыха были заброшены. На парк
            перестали обращать внимание. Скамейки почти полностью исчезли с аллей,
            колонны ротонд потеряли белизну. Единственное, что делали власти в
            80-90-е, это подкрашивали ротонды к каждому 9 мая.</font
        ><br/><br/><br/>
    </dd>
    <dd lang="ru" class="auto">
        <font size="5"><b>3. Центральная ротонда</b></font
        ><br/><br/>
    </dd>
    <p align="center"><img src="/static/img/alex_park_4.png"/><br/></p>
    <dd lang="ru" class="auto">
        <p align="center">
            <font size="3"
            ><var
            >Фонтан перед центральной ротондой Сада им. С. Н. Халтурина (ныне —
                Александровский сад). Внутри ротонды памятник В. И. Ленину, Киров.
                1950-е гг.</var
            ></font
            >
        </p>
        <br/>
    </dd>
    <dd lang="ru" class="auto" style="text-indent: 50px">
        <font size="4"
        >Как и у береговой ротонды, архитектором центральной является А. Е.
            Тимофеев. Но в отличие от воздушной архитектуры прибрежного павильона,
            центральный парковый павильон монументален и устойчив. В основе его объема
            - ротонда, прорезанная диаметральными арками и проемами. Четыре портика с
            двумя парами колонн по краям, украшающие входы, придают плану
            крестообразную форму. Фриз портиков украшает алебастровый барельеф,
            включающий мотивы растительного орнамента. Объем сооружения перекрыт
            куполом на двухступенчатом основании. Павильон установлен на круглом
            кирпичном цоколе с тремя лестничными клетками. Визуально связанный с
            садовыми воротами, павильон закрепляет северную оконечность центральной
            аллеи и служит ключевым звеном в парковом ансамбле.</font
        >
    </dd>
    <dd lang="ru" class="auto" style="text-indent: 50px">
        <font size="4"
        >В дореволюционный период в беседках по праздникам выступал духовой
            оркестр, в наши дни здесь также проходят различные мероприятия, праздники
            и свадьбы.</font
        >
    </dd>
    <dd lang="ru" class="auto" style="text-indent: 50px">
        <font size="4"
        >Также на площади перед Центральной ротондой в 50-е годы находился фонтан
            со статуей Ленина в центре.</font
        ><br/><br/><br/>
    </dd>
    <dd lang="ru" class="auto">
        <font size="5"><b>4. Береговая ротонда</b></font
        ><br/><br/>
    </dd>
    <p align="center"><img src="/static/img/alex_park_5.png"/><br/></p>
    <dd lang="ru" class="auto">
        <p align="center">
            <font size="3"
            ><var>Береговая ротонда в Александровском саду. XIX в.</var></font
            >
        </p>
        <br/>
    </dd>
    <dd lang="ru" class="auto" style="text-indent: 50px">
        <font size="4"
        >Деревянная беседка-ротонда была построена по проекту вятского губернского
            архитектора А. Е. Тимофеева к моменту официального открытия сада. Есть
            основания полагать, что прототипом её послужила беседка пермского
            городского сада, сооружённая в 1824 году (архитектор И. И. Свиязев) в
            бытность там на должности губернатора К. Я. Тюфяева. Тюфяев был переведён
            в Вятку в мае 1834 года и мог указать на этот образец. Кроме того, в 1833
            году архитектор Тимофеев тоже побывал в Перми — с июня по ноябрь он был
            командирован в распоряжение пермского губернатора для работы по
            освидетельствованию ряда построенных на Урале зданий. Должно быть именно в
            эти годы зародился замысел вятского варианта подобной
            архитектурно-пейзажной композиции.</font
        >
    </dd>
    <dd lang="ru" class="auto" style="text-indent: 50px">
        <font size="4"
        >Облик беседки представляет собой канонический тип малой архитектурной
            формы эпохи классицизма. Круглая в плане постройка поставлена на высокий
            кирпичный стилобат с двумя всходами, основанный на специально подсыпанном
            участке местности. Десять стройных колонн, создающих лёгкий, размеренный
            ритм свободного пространства её объёма, поддерживают гладкий антаблемент,
            завершённый плоским куполом-сенью. Слабый рельеф нанесен лишь рядом
            кронштейнов, укреплённых под карнизной полкой.</font
        >
    </dd>
    <dd lang="ru" class="auto" style="text-indent: 50px">
        <font size="4"
        >Удачно найденные пропорции, масштаб и расположение ротонды, которая
            закрепила самую выигрышную видовую точку сада, придают ей черты яркой
            индивидуальности, выделяя из группы аналогичных сооружений. Важное
            градостроительное значение имеет эффектная постановка и обзорность
            беседки, вынесенной на красную линию берегового фасада Вятки.</font
        >
    </dd>
    <dd lang="ru" class="auto" style="text-indent: 50px">
        <font size="4"
        >В настоящее время береговая ротонда - излюбленное место для прогулок и
            проведения мероприятий, обзорная площадка с прекрасным видом на реку
            Вятка. Ежедневно сотни людей, прогуливаясь по парку, наслаждаются этим
            великолепнейшим памятником архитектуры.</font
        ><br/><br/><br/>
    </dd>
    <dd lang="ru" class="auto">
        <font size="5"><b>5. Мост через Раздерихинский овраг</b></font
        ><br/><br/>
    </dd>
    <p align="center"><img src="/static/img/alex_park_6.png"/><br/></p>
    <dd lang="ru" class="auto">
        <p align="center">
            <font size="3"
            ><var>Мост через Раздерихинский овраг, Киров. XXIв.</var></font
            >
        </p>
        <br/>
    </dd>
    <dd lang="ru" class="auto" style="text-indent: 50px">
        <font size="4"
        >В конце 1980-х через Раздерихинский овраг был построен пешеходный мост,
            который соединил сад с набережной Грина. Но несмотря на свою полезность в
            народе его называют: «мост самоубийц».</font
        >
    </dd>
    <dd lang="ru" class="auto" style="text-indent: 50px">
        <font size="4"
        >Согласно легенде, финно-угры, жившие на Вятке в IX-XV века, хоронили
            умерших недалеко от своих поселений. Обязательным условием было то, что
            кладбище должно отделяться от мира живых оврагом. По словам горожан, когда
            в Александровском саду построили пешеходный мост, он нарушил это правило и
            открыл путь в загробный мир. Теперь это место пользуется дурной славой. С
            тех пор мост притягивает людей, стремящихся свести счеты с жизнью.
            Последний трагический случай, произошедший на мосту, был в феврале 2014
            года. Молодая девушка шагнула с моста, спасти ее не удалось.</font
        >
    </dd>
    <dd lang="ru" class="auto" style="text-indent: 50px">
        <font size="4"
        >Несмотря на все происшествия мост пользовался популярностью у
            новобрачных, они вешали замки на ограду моста как знак вечности и
            неруши-мости союза. Но после очередного происшествия мост
            реконструировали: поставили высокие ограждения со шпилями.</font
        ><br/><br/><br/>
    </dd>
    <p align="center"><img src="/static/img/alex_park_7.png"/><br/></p>
    <dd lang="ru" class="auto">
        <p align="center">
            <font size="3"
            ><var
            >Ограда на Раздерихинском мосту в Александровском саду, Киров.
                XXIв.</var
            ></font
            >
        </p>
        <br/>
    </dd>
    <dd lang="ru" class="auto">
        <font size="5"
        ><b>6. Аллея памяти кировским журналистам-фронтовникам</b></font
        ><br/><br/>
    </dd>
    <p align="center"><img src="/static/img/alex_park_8.png"/><br/></p>
    <dd lang="ru" class="auto">
        <p align="center">
            <font size="3"
            ><var
            >Аллея памяти кировским журналистам-фронтовикам, Киров. XXIв.</var
            ></font
            >
        </p>
        <br/>
    </dd>
    <dd lang="ru" class="auto" style="text-indent: 50px">
        <font size="4"
        >В 2007 году заложили аллею памяти кировским журналистам, воевавшим во
            время Великой Отечественной войны. Инициатива создания её принадлежит
            журналистам кировских средств массовой информации. На рябиновой аллее
            находится гранитный памятник - блокнот и перо, символизирующие дело
            журналиста. О тех, кому посвящена Аллея, вышла книга. называется она
            “Адрес памяти - Вятка, Александровский сад” (составитель И.В. Заболотская,
            редактор В.В. Смирнов). Эта книга повествует о нелегкой судьбе журналистов
            на фронте, их остром чувстве долга и необычайном мужестве.</font
        ><br/><br/><br/>
    </dd>
    <dd lang="ru" class="auto">
        <font size="5"><b>7. Центральный вход</b></font
        ><br/><br/>
    </dd>
    <p align="center"><img src="/static/img/alex_park_9.png"/><br/></p>
    <dd lang="ru" class="auto">
        <p align="center">
            <font size="3"
            ><var>Центральный вход в Александровский сад, Киров. 1975г.</var></font
            >
        </p>
        <br/>
    </dd>
    <dd lang="ru" class="auto" style="text-indent: 50px">
        <font size="4"
        >Проекты парадного входа в сад и ограды по поручению Тюфяева выполняли
            сразу два архитектора - А. Л. Витберг и А. Е. Тимофеев, между ними был
            устроен своеобразный негласный конкурс. Оба проекта были отправлены
            губернатором в органы внутренних дел, победил план Витберга. Однако в
            министерстве тут же встал вопрос о том, найдутся ли в Вятке такие мастера,
            которые выполняют все необходимые работы? Поэтому комиссия советовала
            отправить оба варианта в архив и строить решетку сада по «типовым»
            проектам. Однако губернатор Тюфяев выступает против решения министерства и
            указывает, что не видит в Вятке недостатка в искусных мастерах. В итоге
            план Витберга был одобрен, а решетка была установлена к зиме 1839 г. Чуть
            позже по проекту все того же Витберга был построен входной портал в
            сад.</font
        >
    </dd>
    <dd lang="ru" class="auto" style="text-indent: 50px">
        <font size="4"
        >Витберговский портал сада является замечательным образцом русского
            ампира. Четыре массивных пилона держат массивные перекрытия; с юга и
            севера между пилонами - дорические колонны, разделяющие вход на широкие
            центральные ворота и две калитки по бокам. Сильно выступающий низкий
            карниз и дорические колонны являются перекличкой с тимофеевскими
            беседками. Это свидетельство того, что Витберг со вниманием отнесся к
            про-изведениям губернского архитектора.</font
        >
    </dd>
    <p align="center">
        <br/><br/><img src="/static/img/alex_park_10.png"/><br/>
    </p>
    <dd lang="ru" class="auto">
        <p align="center">
            <font size="3"
            ><var
            >Входной портал Александровского сада, Вятка. Начало XX в.</var
            ></font
            >
        </p>
        <br/>
    </dd>
    <dd lang="ru" class="auto" style="text-indent: 50px">
        <font size="4"
        >На фризе между триглифами вписаны барельефы-венки. Над карнизом - аттик с
            гирляндой, перевитой ленточками и надпись: «Александровский садъ». Две
            таких же гирлянды - на пилонах. Тяжелые формы витберговского портала
            приятно контрастируют с легкой ажурной решеткой. Ограда приподнята на
            цоколь, облицованный опокой. Звенья решетки установлены между заделанными
            в кладку круглыми столбиками с шарами наверху. В каждом звене - 13
            прутьев, объединенных вверху меандровой лентой и гребнем с наконечниками
            копий. Главное украшение решетки - сложная гирлянда по центру звена.</font
        ><br/><br/><br/>
    </dd>
    <dd lang="ru" class="auto">
        <font size="5"><b>8. Сцена</b></font
        ><br/><br/>
    </dd>
    <p align="center"><img src="/static/img/alex_park_11.png"/><br/></p>
    <dd lang="ru" class="auto">
        <p align="center">
            <font size="3"
            ><var>Летний театр в саду имени Ст. Халтурина, Киров.</var></font
            >
        </p>
        <br/>
    </dd>
    <dd lang="ru" class="auto" style="text-indent: 50px">
        <font size="4"
        >На месте современной сцены в Александровском саду располагался деревянный
            летний театр, построенный в 1934 году по проекту И.А. Чарушина. В театре
            показывались всевозможные спектакли, и горожане редко упускали возможность
            заглянуть в него. Зрительный зал был рассчитан на 1200 мест. Театр, по
            воспоминаниям старожилов, получился красивым, уютным, с хорошей
            акустикой.</font
        >
    </dd>
    <dd lang="ru" class="auto" style="text-indent: 50px">
        <font size="4"
        >Уже в 1935 году, за три летних месяца, Пермский театр оперы и балета
            показал в Кировском театре 62 спектакля. Здесь же прошла опера Бородина
            «Князь Игорь». На протяжении многих лет в летнем театре выступали
            из-вестные артисты и театральные коллективы. Так, 22 июня 1941 года на
            сцене театра состоялся спектакль Свердловской музкомедии. А в 1947 году
            Ивановский театр оперетты впервые в стране показал премьеру произведения
            популярного в те годы композитора И. Дунаевского «Вольный ветер», получив
            благодарственную телеграмму от автора за успех.</font
        >
    </dd>
    <p align="center">
        <br/><br/><img src="/static/img/alex_park_12.png"/><br/>
    </p>
    <dd lang="ru" class="auto">
        <p align="center">
            <font size="3"
            ><var>Летний театр в парке имени СТ Халтурина, Киров.</var></font
            >
        </p>
        <br/>
    </dd>
    <dd lang="ru" class="auto" style="text-indent: 50px">
        <font size="4"
        >А в конце 50-х годов на сцене летнего театра был поставлен спектакль
            Свердловской музкомедии «Трембита», успешно прошла постановка Горьковского
            театра комедии «Кресло № 16». Именно здесь после войны дал свой концерт А.
            Вертинский. Театр был снесен в 68 году прошлого столетия.</font
        >
    </dd>
    <dd lang="ru" class="auto" style="text-indent: 50px">
        <font size="4"
        >Перед театром был воздвигнут памятник С. М. Кирову, который снесли в 70-х
            годах прошлого столетия.</font
        >
    </dd>
    <dd lang="ru" class="auto" style="text-indent: 50px">
        <font size="4">Сейчас на этом месте проводят городские мероприятия.</font
        ><br/><br/><br/>
    </dd>
    <dd lang="ru" class="auto">
        <font size="5"><b>9. Павильон для мероприятий</b></font
        ><br/><br/>
    </dd>
    <dd lang="ru" class="auto" style="text-indent: 50px">
        <font size="4"
        >18 июля 1878 года Вятская городская дума разрешила Общественному собранию
            возвести на арендуемом участке павильон для мероприятий. Его строительство
            обошлось в 4000 рублей. И год спустя состоялось торжественное открытие. В
            1891 году павильон перешел в собственность города, а в 1908 году был
            построен второй этаж здания для летнего клуба. К сожалению, в 1923 году
            здание сгорело.</font
        ><br/><br/><br/>
    </dd>
    <dd lang="ru" class="auto">
        <font size="5"><b>10. Кинотеатр "Прогресс"</b></font
        ><br/><br/>
    </dd>
    <p align="center"><img src="/static/img/alex_park_17.png"/><br/></p>
    <dd lang="ru" class="auto">
        <p align="center">
            <font size="3"><var>Доска с афишами «электротеатров». XXв.</var></font>
        </p>
        <br/>
    </dd>
    <dd lang="ru" class="auto" style="text-indent: 50px">
        <font size="4"
        >В начале XX века Вятку захватила настоящая «кинолихорадка»: в городе как
            грибы росли кинотеатры. В тот период их называли «электротеатры», и они
            носили яркие названия: «Модерн», «Колизей»… Но у истоков кинематографа на
            Вятке стоит кинотеатр «Прогресс».</font
        >
    </dd>
    <dd lang="ru" class="auto" style="text-indent: 50px">
        <font size="4"
        >На заседании городской думы в мае 1908 года было разрешено Торговому дому
            «Братья Усмановы» арендовать сроком на 5 лет участок земли в
            Александровском саду для постройки летнего павильона, где будет
            демонстрироваться кинематограф. Этим же летом летний кинотеатр был
            построен и получил название «Прогресс».</font
        >
    </dd>
    <dd lang="ru" class="auto" style="text-indent: 50px">
        <font size="4"
        >Первый кинотеатр представлял собой тесовый сарай на столбах под железной
            крышей примерно 10х20 метров, поэтому на его строительство не понадобилось
            много времени, и 18 июня (1 июля) 1908 г. в нём состоялся первый
            киносеанс. Сеансы шли до 10 сентября, когда закончился летний сезон,
            Александровский сад перестал освещаться и посещаемость кинотеатра
            упала.</font
        ><br/><br/>
    </dd>
    <p align="center"><img src="/static/img/alex_park_18.png"/><br/></p>
    <dd lang="ru" class="auto">
        <p align="center">
            <font size="3"
            ><var
            >Открытка. Электротеатр «Прогресс» в Александровском саду. XXв.</var
            ></font
            >
        </p>
        <br/>
    </dd>
    <dd lang="ru" class="auto" style="text-indent: 50px">
        <font size="4"
        >Электротеатр переезжает в зимнее помещение — в дом Дьяконова на
            Московской улице. Одновременно владельцы кинотеатра уехали в Москву для
            заключения новых контрактов на прокат картин. 21 сентября заведение снова
            открылось для посетителей.</font
        >
    </dd>
    <dd lang="ru" class="auto" style="text-indent: 50px">
        <font size="4"
        >Богатства своим владельцам «Прогресс» не принес. В 1911 г. торговый дом
            братьев Усмановых был объявлен несостоятельным, кинотеатр пришлось
            продать. В апреле 1911 г. кинотеатр «Прогресс» был продан новым владельцам
            — фирме «Кушев, Бабинцев и Ко». Именно при них начинается строительство
            стационарного здания.
        </font>
        <br/><br/>
    </dd>
    <p align="center"><img src="/static/img/alex_park_19.png"/><br/></p>
    <dd lang="ru" class="auto">
        <p align="center">
            <font size="3"
            ><var>Кинотеатр «Прогресс» на улице Никитской. XXв.</var></font
            >
        </p>
        <br/>
    </dd>
    <dd lang="ru" class="auto" style="text-indent: 50px">
        <font size="4"
        >24 сентября (7 октября) 1911 г. состоялось открытие зимнего сезона в
            новом здании, выстроенном на улице Никитской (Володарского) в квартале
            между улицами Московской и Преображенской. Новое здание было значительно
            просторнее и удобнее летнего электротеатра. Для хранения верхнего платья
            публики был приглашен швейцар с «залогом», работал чайно-фруктовый буфет с
            продажей пирожков и холодных закусок, который сдавался в аренду опытному
            буфетчику. Именно в этом здании кинотеатр размещался долгое время до 1955
            г.</font
        ><br/><br/><br/>
    </dd>
    <dd lang="ru" class="auto">
        <font size="5"><b>11. Цветник с портретом Сталина</b></font
        ><br/><br/>
    </dd>
    <p align="center"><img src="/static/img/alex_park_20.png"/><br/></p>
    <dd lang="ru" class="auto">
        <p align="center">
            <font size="3"
            ><var
            >Цветочная ваза-скульптура А. Юферева в саду им. Ст. Халтурина. Начало
                1950-х</var
            ></font
            >
        </p>
        <br/>
    </dd>
    <dd lang="ru" class="auto" style="text-indent: 50px">
        <font size="4"
        >Особо стоит остановиться на деятельности главного садовника парка А.
            Юферева. Благодаря его заботе в 1940-е – 1950-е годы сад утопал в цветах.
            Стараниями Анатолия Павловича в парке появилась необычная
            клумба-календарь. Каждое утро на ней меняли число, день недели. А в
            августе 1952 года была построена ваза- цветник с портретом Иосифа Сталина.
            Вес вазы составлял 10 т, высота 9 м, ширина 3,75 м. В 1957 году был создан
            цветочный портрет В.И. Ленина, а затем и С.М. Кирова.</font
        ><br/><br/><br/>
    </dd>
    <dd lang="ru" class="auto">
        <font size="5"><b>12. Спортплощадка</b></font
        ><br/><br/>
    </dd>
    <dd lang="ru" class="auto" style="text-indent: 50px">
        <font size="4"
        >Администрация Кировской области организовала спортплощадку для
            посетителей сада, желающих активного провести свое время с пользой для
            тела и здоровья.</font
        ><br/><br/><br/>
    </dd>
    <dd lang="ru" class="auto">
        <font size="5"><b>13. Памятник Петру и Февронии</b></font
        ><br/><br/>
    </dd>
    <p align="center"><img src="/static/img/alex_park_13.png"/><br/></p>
    <dd lang="ru" class="auto">
        <p align="center">
            <font size="3"
            ><var
            >Памятник Петру и Февронии в Александровском саду, Киров. XXIв.</var
            ></font
            >
        </p>
        <br/>
    </dd>
    <dd lang="ru" class="auto" style="text-indent: 50px">
        <font size="4"
        >В последние годы в Александровском саду появляются новые объекты. Так, в
            2012 г. с целью укрепления православных семейных ценностей и института
            брака был установлен памятник святым Петру и Февронии. Александровский сад
            – идеально выбранное место для установки скульптуры, ведь это одно из
            излюбленных мест прогулок молодых в день их свадьбы. Киров стал девятым по
            счету города в России, где установили подобный памятник.</font
        ><br/><br/><br/>
    </dd>
    <dd lang="ru" class="auto">
        <font size="5"><b>14. "Поляна сказок"</b></font
        ><br/><br/>
    </dd>
    <p align="center"><img src="/static/img/alex_park_14.png"/><br/></p>
    <dd lang="ru" class="auto">
        <p align="center">
            <font size="3"
            ><var>Аттракционы в Александровском саду, Киров. XXI в.</var></font
            >
        </p>
        <br/>
    </dd>
    <dd lang="ru" class="auto" style="text-indent: 50px">
        <font size="4"
        >Во второй половине XIX и в XX веках на территории сада появились летний
            клуб, кинотеатр, шахматный павильон, танцплощадка и различные
            аттракционы.</font
        >
    </dd>
    <dd lang="ru" class="auto" style="text-indent: 50px">
        <font size="4"
        >В 90-е годы ХХ в. сад пришел в запустение. Но уже в начале XXI в. бы-ло
            решено возродить Александровский сад. Территория парка была благоустроена,
            появились новые архитектурные объекты и парк аттракционов "Поляна
            сказок".</font
        >
    </dd>
    <dd lang="ru" class="auto" style="text-indent: 50px">
        <font size="4"
        >Сегодня Александровский сад вновь стал местом, где можно весело про-вести
            время всей семьей.</font
        >
    </dd>
    <dd lang="ru" class="auto" style="text-indent: 50px">
        <font size="4"
        >Парк детских аттракционов "Поляна сказок" в Александровском саду начал
            свою работу в 2007г. Идея была возродить для кировчан существующие здесь в
            70-80 годы аттракционы, оживить парк, чтобы опять зазвучал детский
            смех.</font
        >
    </dd>
    <dd lang="ru" class="auto" style="text-indent: 50px">
        <font size="4"
        >Это тематический парк. Его территория оформлена по мотивам русских сказок
            и мультфильмов. Здесь представлены только новые детские, семейные и
            молодежные аттракционы, которые ежегодно проходят все необходимые проверки
            и испытания. Каждый сезон аттракционы дополняются и обновляются.</font
        >
    </dd>
    <dd lang="ru" class="auto" style="text-indent: 50px">
        <font size="4"
        >Радостный визг детей и заливистый смех взрослых — вот ориентиры, с
            помощью которых жители и гости Кирова смогут найти парк развлечений
            «Поляна сказок». Здесь есть аттракционы как для малышей, так и для их
            родителей — это прекрасное место для семейного отдыха.</font
        >
    </dd>
    <dd lang="ru" class="auto" style="text-indent: 50px">
        <font size="4"
        >«Поляна сказок» — волшебное место на карте нашего города, где можно не
            только весело отдохнуть, но и сделать яркие, сочные снимки в красочных
            декорациях этого места!</font
        ><br/><br/><br/>
    </dd>
    <dd lang="ru" class="auto">
        <font size="5"><b>Комментарии</b></font
        ><br/><br/>
    </dd>
    {% if current_user.is_authenticated %}
    <a href="news" class="btn btn-secondary">Добавить комментарий</a>
    {% endif %}
    <dd><br/></dd>
    {% for item in news%}
    <div class="col-md6 border rounded">
        <div>
            Автор - {{item.user.name}}, Дата написания - {{item.created_date}}
        </div>
        <div>{{item.content}}</div>
        {% if current_user.is_authenticated and (current_user == item.user or 0 == current_user.id) %}
        <div>
            <a href="/news/{{ item.id }}" class="btn btn-warning"> Изменить </a>
            <a href="/news_delete/{{ item.id }}" class="btn btn-danger"> Удалить </a>
        </div>
        {% endif %}
    </div>
    <br>
    {% endfor %}
</dl>
{% endblock %}
